<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
<meta http-equiv="Expires" content="0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${setting.seoTitle}">首页</title>
<meta name="keywords" th:content="${setting.seoKeywords}">
<meta name="description" th:content="${setting.seoDescription}">

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href=http://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui.css}" />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui2.css}" />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui3.css}" />
<style type="text/css">
.f-gray {
	color: #8c8c8c;
}

.weui-label.selected {
	border: 1px solid #ff7f0d;
	color: #ff7f0d;
}

.weui-label.locked {
	color: #ddd;
	border: 1px dotted #ccc;
}

#slide-header.slide::after {
	padding-top: 100%;
}

.required-tip {
	color: red;
}

.weui_media_box.weui_media_appmsg {
	align-items: flex-start;
}

.weui_media_box.weui_media_appmsg .weui_media_hd {
	width: 80px;
	height: 80px;
	line-height: 100px;
}
</style>
<script th:src="@{/assets/weui/zepto.min.js}"></script>
<script th:src="@{/assets/weui/swipe.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var base = /*[[${#httpServletRequest.getContextPath()}]]*/"";
</script>
<script type="text/javascript">
	$(function() {

		$('.searchbar_wrap').searchBar({
			cancelText : "取消",
			searchText : '请输入关键字',
			onfocus : function(value) {

			},
			onblur : function(value) {

			},
			oninput : function(value) {

			},
			onsubmit : function(value) {
				location.href = base + "/p?keywords=" + value;
			},
			oncancel : function() {

			},

			onclear : function() {

			}
		});

		$('#slide1').swipeSlide({
			autoSwipe : true,//自动切换默认是
			speed : 3000,//速度默认4000
			continuousScroll : true,//默认否
			transitionType : 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',//过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
			lazyLoad : true,//懒加载默认否
			firstCallback : function(i, sum, me) {
				me.find('.dot').children().first().addClass('cur');
			},
			callback : function(i, sum, me) {
				me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
			}
		});
	});
</script>
</head>

<body ontouchstart class="page-bg">
	<div class="searchbar_wrap"></div>

	<div class="slide" id="slide1">
		<ul>
			<li th:each="slider:${sliders}"><a href="javascript:;"> <img th:src="${slider.image}" th:alt="${slider.title}">
			</a>
				<div class="slide-desc" th:text="${slider.title}"></div></li>
		</ul>
		<div class="dot">
			<span th:each="slider:${sliders}"></span>
		</div>
	</div>


	<div class="weui_panel weui_panel_access">
		<div class="weui_panel_hd">商品列表</div>
		<div class="weui_panel_bd">
			<a th:each="product:${products}" th:href="@{/p/}+${product.id}" class="weui_media_box weui_media_appmsg">
				<div class="weui_media_hd">
					<img class="weui_media_appmsg_thumb" th:src="${product.image}" th:alt="${product.name}">
				</div>
				<div class="weui_media_bd">
					<h4 class="weui_media_title" th:text="${product.name}"></h4>
					<p>
						<span style="color: red;" th:text="'¥ '+${#numbers.formatDecimal(product.price, 0, 2)}"></span> &nbsp;
						<del style="color: #ccc; font-size: 12px;" th:text="'¥ '+${#numbers.formatDecimal(product.marketPrice, 0, 2)}"></del>
					</p>
					<p class="weui_media_desc" th:text="${product.summary}"></p>
				</div>
			</a>
		</div>
		<a class="weui_panel_ft" th:href="@{/p}">查看更多</a>
	</div>

	<div class="weui-footer" style="margin-top: 20px;">
		<p class="weui-footer-text">版权所有 &copy;
			<span th:text="${setting.companyName}"></span> 
		</p>
	</div>

	<div th:replace="/layout/statistics :: main"></div>
</body>
</html>
