<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>无产品</title>

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" th:href="@{/assets/weui/style/weui.css}" />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui2.css}" />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui3.css}" />
<script th:src="@{/assets/weui/zepto.min.js}"></script>
</head>
<body ontouchstart>
	<div class="page-hd">
		<h1 class="page-hd-title">无产品</h1>
		<p class="page-hd-desc"></p>
	</div>
	<div class="weui-footer weui-footer-fixed-bottom">
		<p class="weui-footer-links">
			<a th:href="@{/login}" class="weui-footer-link">请登录后台添加产品</a>
		</p>
		<p class="weui-footer__text">Copyright &copy; 2015-2017 当凌科技</p>
	</div>
</body>
</html>
