<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section class="content-header">
		<h1>
			系统管理 <small>系统设置</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="javascript:;"><i class="fa fa-cogs"></i> 系统管理</a></li>
			<li class="active">系统设置</li>
		</ol>
	</section>

	<section class="content">
		<form id="form-setting" class="form-horizontal" th:action="@{/setting/save}" method="post" th:object="${setting}">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_base" data-toggle="tab">基本设置</a></li>
					<li><a href="#tab_other" data-toggle="tab">其他设置</a></li>
				</ul>
				<div class="tab-content" style="min-height: 400px;">
					<div class="tab-pane active" id="tab_base">
						<div class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label for="input-siteName" class="col-sm-2 control-label">站点名称</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-siteName" name="siteName" th:value="*{siteName}" placeholder="请输入站点名称"
											type="text" data-bv-notempty="true" data-bv-notempty-message="请填写站点名称">
									</div>
								</div>
								<div class="form-group">
									<label for="input-address" class="col-sm-2 control-label">联系地址</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-address" name="address" th:value="*{address}" placeholder="请输入联系地址"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-phone" class="col-sm-2 control-label">联系电话</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-phone" name="phone" th:value="*{phone}" placeholder="请输入联系电话"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-zipCode" class="col-sm-2 control-label">邮政编码</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-zipCode" name="zipCode" th:value="*{zipCode}" placeholder="请输入邮政编码"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-email" class="col-sm-2 control-label">联系邮箱</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-email" name="email" th:value="*{email}" placeholder="请输入联系邮箱"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-certtext" class="col-sm-2 control-label">备案编号</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-certtext" name="certtext" th:value="*{certtext}" placeholder="请输入备案编号"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">网站开启</label>

									<div class="col-sm-10">
										<div class="checkbox icheck">
											<label> <input type="checkbox" name="isSiteEnabled" th:checked="*{isSiteEnabled}"><input
												type="hidden" name="_isSiteEnabled" />
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="input-siteCloseMessage" class="col-sm-2 control-label">网站关闭消息</label>

									<div class="col-sm-10">
										<textarea class="gui-textarea editor form-control" style="width: 100%" id="input-siteCloseMessage"
											name="siteCloseMessage" rows="3" placeholder="请输入网站关闭消息" th:utext="*{siteCloseMessage}"></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<label for="input-seoTitle" class="col-sm-2 control-label">SEO标题</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-seoTitle" name="seoTitle" th:value="*{seoTitle}" placeholder="请输入SEO标题"
											type="text">
									</div>
								</div>
								
								<div class="form-group">
									<label for="input-seoKeywords" class="col-sm-2 control-label">SEO关键字</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-seoKeywords" name="seoKeywords" th:value="*{seoKeywords}" placeholder="请输入SEO关键字"
											type="text">
									</div>
								</div>
								
								<div class="form-group">
									<label for="input-seoDescription" class="col-sm-2 control-label">SEO描述</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-seoDescription" name="seoDescription" th:value="*{seoDescription}" placeholder="请输入SEO描述"
											type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_other">
						<div class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label for="input-baiduSiteId" class="col-sm-2 control-label">百度统计ID</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-baiduSiteId" name="baiduSiteId" th:value="*{baiduSiteId}" placeholder="请输入百度统计ID"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-saleOrderCount" class="col-sm-2 control-label"><i class="required-tip">*</i>销售获取未处理订单数</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-saleOrderCount" name="saleOrderCount" th:value="*{saleOrderCount}" placeholder="请输入销售获取未处理订单数"
											type="text" data-bv-notempty="true" data-bv-notempty-message="请填写销售获取未处理订单数">
									</div>
								</div>
								<div class="form-group">
									<label for="input-orderSubmitMessage" class="col-sm-2 control-label"><i class="required-tip">*</i>订单提交成功提示</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-orderSubmitMessage" name="orderSubmitMessage" th:value="*{orderSubmitMessage}" placeholder="请输入订单提交成功提示"
											type="text" data-bv-notempty="true" data-bv-notempty-message="请填写订单提交成功提示">
									</div>
								</div>
								<div class="form-group">
									<label for="input-shippingTemplate" class="col-sm-2 control-label">发货短信模版</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-shippingTemplate" name="shippingTemplate" th:value="*{shippingTemplate}" placeholder="请输入发货短信模版"
											type="text">
									</div>
								</div>
								
								<div class="form-group">
									<label for="input-smsUrl" class="col-sm-2 control-label">短信接口地址</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-smsUrl" name="smsUrl" th:value="*{smsUrl}" placeholder="请输入短信接口地址"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-smsUserId" class="col-sm-2 control-label">短信接口ID</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-smsUserId" name="smsUserId" th:value="*{smsUserId}" placeholder="请输入短信接口ID"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-smsAccount" class="col-sm-2 control-label">短信接口账号</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-smsAccount" name="smsAccount" th:value="*{smsAccount}" placeholder="请输入短信接口账号"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-smsPassword" class="col-sm-2 control-label">短信接口密码</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-smsPassword" name="smsPassword" th:value="*{smsPassword}" placeholder="请输入密码"
											type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.tab-content -->
				<div class="box-footer">
					<button type="submit" class="btn btn-success pull-right">保存</button>
				</div>
			</div>
		</form>
	</section>


	<script type="text/javascript">
		requirejs([ "domReady", "validator", "icheck", "kindeditor" ], function(ready) {
			ready(function() {
				activeMenu("management_setting");
				$(".icheck input").iCheck({
					checkboxClass : 'icheckbox_square-blue',
					radioClass : 'iradio_square-blue',
					increaseArea : '20%' // optional
				});

				var editor = KindEditor.create('#form-setting .editor', {
					langType : "zh-CN",
					uploadJson : base + "/kindeditor/upload",
					fileManagerJson : base + "/kindeditor/list",
					allowFileManager : true,
					wellFormatMode : true,
					newlineTag : "p",
					minHeight : 400,
					resizeType : 1,
					imageSizeLimit : '10MB',
					imageUploadLimit : 100
				});
				
				$("#form-setting").bootstrapValidator().on("success.form.bv", function(e) {
					e.preventDefault();
					var $form = $(e.target);
					var bv = $form.data('bootstrapValidator');
					$.post($form.attr('action'), $form.serialize(), function(result) {
						if (result.success) {
							$.alert({
								title : false,
								content : "保存成功",
								buttons : {
									ok : {
										text : "关闭"
									}
								}
							});
						} else {
							$.alert({
								title : false,
								content : result.msg
							});
						}
						$form.bootstrapValidator('disableSubmitButtons', false);
					}, "json");
				});
			});
		});
	</script>
</body>
</html>

