<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section class="content-header">
		<h1>
			系统管理 <small>系统设置</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="javascript:;"><i class="fa fa-cogs"></i> 系统管理</a></li>
			<li class="active">系统设置</li>
		</ol>
	</section>

	<section class="content">
		<form id="form-setting" class="form-horizontal" th:action="@{/setting/save}" method="post" th:object="${setting}">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_base" data-toggle="tab">基本设置</a></li>
					<li><a href="#tab_display" data-toggle="tab">显示设置</a></li>
					<li><a href="#tab_register" data-toggle="tab">注册与安全</a></li>
					<li><a href="#tab_mail" data-toggle="tab">邮件设置</a></li>
					<li><a href="#tab_other" data-toggle="tab">其他设置</a></li>
				</ul>
				<div class="tab-content" style="min-height: 400px;">
					<div class="tab-pane active" id="tab_base">
						<div class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label for="input-siteName" class="col-sm-2 control-label"><i class="required-tip">*</i>站点名称</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-siteName" name="siteName" th:value="*{siteName}" placeholder="请输入站点名称"
											type="text" data-bv-notempty="true" data-bv-notempty-message="请填写站点名称">
									</div>
								</div>
								<div class="form-group">
									<label for="input-logo" class="col-sm-2 control-label">logo</label>

									<div class="col-sm-10">
										<input type="file" class="file-loading" name="file"> <input type="hidden" name="logo"
											th:value="*{logo}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-hotSearch" class="col-sm-2 control-label">热门搜索</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-hotSearch" name="hotSearch" th:value="*{hotSearch}"
											placeholder="请输入热门搜索" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-address" class="col-sm-2 control-label">联系地址</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-address" name="address" th:value="*{address}" placeholder="请输入联系地址"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-phone" class="col-sm-2 control-label">联系电话</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-phone" name="phone" th:value="*{phone}" placeholder="请输入联系电话"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-zipCode" class="col-sm-2 control-label">邮政编码</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-zipCode" name="zipCode" th:value="*{zipCode}" placeholder="请输入邮政编码"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-email" class="col-sm-2 control-label">联系邮箱</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-email" name="email" th:value="*{email}" placeholder="请输入联系邮箱"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-certtext" class="col-sm-2 control-label">备案编号</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-certtext" name="certtext" th:value="*{certtext}" placeholder="请输入备案编号"
											type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">网站开启</label>

									<div class="col-sm-10">
										<div class="checkbox icheck">
											<label> <input type="checkbox" name="isSiteEnabled" th:checked="*{isSiteEnabled}"><input
												type="hidden" name="_isSiteEnabled" />
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="input-siteCloseMessage" class="col-sm-2 control-label">网站关闭消息</label>

									<div class="col-sm-10">
										<textarea class="gui-textarea editor form-control" style="width: 100%" id="input-siteCloseMessage"
											name="siteCloseMessage" rows="3" placeholder="请输入网站关闭消息" th:utext="*{siteCloseMessage}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_display">
						<div class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label for="input-largeProductImageWidth" class="col-sm-2 control-label">商品图片(大)宽度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-largeProductImageWidth" name="largeProductImageWidth"
											th:value="*{largeProductImageWidth}" placeholder="请输入商品图片(大)宽度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-largeProductImageHeight" class="col-sm-2 control-label">商品图片(大)高度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-largeProductImageHeight" name="largeProductImageHeight"
											th:value="*{largeProductImageHeight}" placeholder="请输入商品图片(大)高度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-mediumProductImageWidth" class="col-sm-2 control-label">商品图片(中)宽度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-mediumProductImageWidth" name="mediumProductImageWidth"
											th:value="*{mediumProductImageWidth}" placeholder="请输入商品图片(中)宽度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-mediumProductImageHeight" class="col-sm-2 control-label">商品图片(中)高度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-mediumProductImageHeight" name="mediumProductImageHeight"
											th:value="*{mediumProductImageHeight}" placeholder="请输入商品图片(中)高度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-thumbnailProductImageWidth" class="col-sm-2 control-label">商品缩略图宽度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-thumbnailProductImageWidth" name="thumbnailProductImageWidth"
											th:value="*{thumbnailProductImageWidth}" placeholder="请输入商品缩略图宽度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-thumbnailProductImageHeight" class="col-sm-2 control-label">商品缩略图高度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-thumbnailProductImageHeight" name="thumbnailProductImageHeight"
											th:value="*{thumbnailProductImageHeight}" placeholder="请输入商品缩略图高度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-defaultLargeProductImage" class="col-sm-2 control-label">默认商品图片(大)</label>

									<div class="col-sm-10">
										<input type="file" class="file-loading" name="file"> <input type="hidden"
											name="defaultLargeProductImage" th:value="*{defaultLargeProductImage}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-defaultMediumProductImage" class="col-sm-2 control-label">默认商品图片(小)</label>

									<div class="col-sm-10">
										<input type="file" class="file-loading" name="file"> <input type="hidden"
											name="defaultMediumProductImage" th:value="*{defaultMediumProductImage}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-defaultThumbnailProductImage" class="col-sm-2 control-label">默认缩略图</label>

									<div class="col-sm-10">
										<input type="file" class="file-loading" name="file"> <input type="hidden"
											name="defaultThumbnailProductImage" th:value="*{defaultThumbnailProductImage}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-watermarkAlpha" class="col-sm-2 control-label">水印透明度</label>

									<div class="col-sm-10">
										<input class="form-control" id="input-watermarkAlpha" name="watermarkAlpha" th:value="*{watermarkAlpha}"
											placeholder="请输入水印透明度" type="text">
									</div>
								</div>
								<div class="form-group">
									<label for="input-watermarkImage" class="col-sm-2 control-label">水印图片</label>

									<div class="col-sm-10">
										<input type="file" class="file-loading" name="file"> <input type="hidden" name="watermarkImage"
											th:value="*{watermarkImage}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-watermarkPosition" class="col-sm-2 control-label">水印位置</label>

									<div class="col-sm-10">
										<select id="input-watermarkPosition" name="watermarkPosition" class="form-control">
											<option th:each="watermarkPosition:${watermarkPositions}" th:value="${watermarkPosition}" th:selected="*{watermarkPosition}==${watermarkPosition}" th:text="#{Setting.__${watermarkPosition}__}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_register"></div>
					<div class="tab-pane" id="tab_mail"></div>
					<div class="tab-pane" id="tab_other"></div>
				</div>
				<!-- /.tab-content -->
				<div class="box-footer">
					<button type="submit" class="btn btn-success pull-right">保存</button>
				</div>
			</div>
		</form>
	</section>


	<script type="text/javascript">
		requirejs([ "domReady", "validator", "icheck", "fileinput", "kindeditor" ], function(ready) {
			ready(function() {
				activeMenu("management_setting");
				$(".icheck input").iCheck({
					checkboxClass : 'icheckbox_square-blue',
					radioClass : 'iradio_square-blue',
					increaseArea : '20%' // optional
				});

				var initFileInput = function(element) {
					element.fileinput({
						uploadUrl : base + "/multipart/upload/image",
						language : "zh",
						initialCaption : element.closest(".form-group").find("input[type=hidden]").val(),
						showPreview : false,
						multiple : false,
						showUpload : false, // hide upload button
						showRemove : false, // hide remove button
						minFileCount : 1,
						maxFileCount : 1,
						allowedFileTypes : [ "image" ],
						maxFileSize : 200 * 1024 * 1024
					}).on("filebatchselected", function(event, files) {
						$(this).fileinput("upload");
					}).on('fileuploaded', function(event, data, previewId, index) {
						response = data.response;
						if (response.success) {
							$(this).closest(".form-group").find("input[type=hidden]").val(response.urls);
						}
					});
				}
				initFileInput($("#form-setting input[type=file]"));

				var editor = KindEditor.create('#form-setting .editor', {
					langType : "zh-CN",
					uploadJson : base + "/kindeditor/upload",
					fileManagerJson : base + "/kindeditor/list",
					allowFileManager : true,
					wellFormatMode : true,
					newlineTag : "p",
					minHeight : 400,
					resizeType : 1,
					imageSizeLimit : '10MB',
					imageUploadLimit : 100
				});
			});
		});
	</script>
</body>
</html>

