<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${setting.siteName}">无产品</title>

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" th:href="@{/assets/weui/style/weui.css}" />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui2.css}" />
<link rel="stylesheet" th:href="@{/assets/weui/style/weui3.css}" />
<script th:src="@{/assets/weui/zepto.min.js}"></script>
</head>
<body ontouchstart>
	<div class="weui_article" th:utext="${setting.siteCloseMessage}" style="background-color: white; padding: 0 10px 10px;"></div>
	<div th:replace="/layout/statistics :: main"></div>
</body>
</html>
