<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section class="content-header">
		<h1>
			订单管理 <small>编辑订单</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="javascript:;"><i class="fa fa-file-archive-o"></i> 订单管理</a>
			</li>
			<li class="active">编辑订单</li>
		</ol>
	</section>

	<section class="content">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">请输入订单信息</h3>
			</div>
			<form id="form-order" class="form-horizontal" th:action="@{/order/save}" method="post" th:object="${entity}">
				<input type="hidden" name="id" th:value="*{id}" />
				<div class="box-body">
					<div class="form-group">
						<label for="input-sn" class="col-sm-2 control-label"><i class="required-tip">*</i>订单编号</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-sn" placeholder="请输入订单编号" name="sn" th:value="*{sn}" type="text"
								data-bv-notempty="true" data-bv-notempty-message="请填写订单编号">
						</div>
					</div>
					<div class="form-group">
						<label for="input-sn" class="col-sm-2 control-label">商品</label>

						<div class="col-sm-10">
							<span class="form-control" th:text="'['+*{product.sn}+'] '+*{product.name}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="input-specification" class="col-sm-2 control-label">商品规格</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-specification" placeholder="请输入商品规格" name="specification"
								th:value="*{specification}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="input-amount" class="col-sm-2 control-label"><i class="required-tip">*</i>订单金额</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-amount" placeholder="请输入订单金额" name="amount"
								th:value="*{#numbers.formatDecimal(amount, 0, 2)}" type="text" data-bv-notempty="true" data-bv-notempty-message="请输入订单金额"
								data-bv-numeric="true" data-bv-numeric-message="请输入是数值">
						</div>
					</div>
					<div class="form-group">
						<label for="input-orderStatus" class="col-sm-2 control-label">订单状态</label>

						<div class="col-sm-10">
							<select th:if="${allowModifyOrderStatus}" id="input-orderStatus" name="orderStatus" class="form-control">
								<option value="">--未选择--</option>
								<option value="pending" th:selected="*{orderStatus}=='pending'">待处理</option>
								<option value="inhand" th:selected="*{orderStatus}=='inhand'">处理中</option>
								<option value="confirmed" th:selected="*{orderStatus}=='confirmed'">已确认</option>
								<option value="followup" th:selected="*{orderStatus}=='followup'">待跟进</option>
								<option value="canceled" th:selected="*{orderStatus}=='canceled'">已取消</option>
								<option th:if="${currentUser.admin}" value="completed" th:selected="*{orderStatus}=='completed'">已完成</option>
							</select>
							<span th:if="${!allowModifyOrderStatus}" class="form-control" th:inline="text">
								[[*{orderStatus}=='pending'?'待处理':'']]
								[[*{orderStatus}=='inhand'?'处理中':'']]
								[[*{orderStatus}=='confirmed'?'已确认':'']]
								[[*{orderStatus}=='followup'?'待跟进':'']]
								[[*{orderStatus}=='canceled'?'已取消':'']]
								[[*{orderStatus}=='completed'?'已完成':'']] </span>
						</div>
					</div>
					<div class="form-group">
						<label for="input-shippingStatus" class="col-sm-2 control-label">发货状态</label>

						<div class="col-sm-10">
							<select th:if="${allowModifyShippingStatus}" id="input-shippingStatus" name="shippingStatus" class="form-control">
								<option value="">--未选择--</option>
								<option value="unshipped" th:selected="*{shippingStatus}=='unshipped'">未发货</option>
								<option value="shipped" th:selected="*{shippingStatus}=='shipped'">已发货</option>
								<option value="received" th:selected="*{shippingStatus}=='received'">已收货</option>
								<option value="returned" th:selected="*{shippingStatus}=='returned'">已退回</option>
							</select>
							<span th:if="${!allowModifyShippingStatus}" class="form-control" th:inline="text">
								[[*{shippingStatus}=='unshipped'?'未发货':'']]
								[[*{shippingStatus}=='shipped'?'已发货':'']]
								[[*{shippingStatus}=='received'?'已收货':'']]
								[[*{shippingStatus}=='returned'?'已退回':'']] </span>
						</div>
					</div>
					<div class="form-group">
						<label for="input-shippingSn" class="col-sm-2 control-label">物流单号</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-shippingSn" placeholder="请输入物流单号" name="shippingSn" th:value="*{shippingSn}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="input-consignee" class="col-sm-2 control-label">客户姓名</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-consignee" placeholder="请输入客户姓名" name="consignee"
								th:value="*{consignee}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="input-phone" class="col-sm-2 control-label">联系电话</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-phone" placeholder="请输入联系电话" name="phone" th:value="*{phone}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="input-address" class="col-sm-2 control-label">收货地址</label>

						<div class="col-sm-10">
							<input class="form-control" id="input-address" placeholder="请输入收货地址" name="address" th:value="*{address}"
								type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="input-memo" class="col-sm-2 control-label">客户留言</label>

						<div class="col-sm-10">
							<textarea class="form-control" id="input-memo" name="memo" rows="3" placeholder="请输入客户留言" th:text="*{memo}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="input-remark" class="col-sm-2 control-label">订单备注</label>

						<div class="col-sm-10">
							<textarea class="form-control" id="input-remark" name="remark" rows="3" placeholder="请输入订单备注" th:text="*{remark}"></textarea>
						</div>
					</div>
					<div class="form-group" th:if="*{operator}!=null">
						<label for="input-sn" class="col-sm-2 control-label">销售人员</label>

						<div class="col-sm-10">
							<span class="form-control" th:text="*{operator.name}"></span>
						</div>
					</div>
					<div class="form-group" th:if="*{shipper}!=null">
						<label for="input-sn" class="col-sm-2 control-label">发货人员</label>

						<div class="col-sm-10">
							<span class="form-control" th:text="*{shipper.name}"></span>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="button" class="btn btn-default" onclick="location.href='#/page/order'">返回列表</button>
					<button type="submit" class="btn btn-success pull-right">保存</button>
				</div>
			</form>
		</div>
	</section>


	<script type="text/javascript">
		requirejs([ "domReady", "validator" ], function(ready) {
			ready(function() {
				activeMenu("order");
				$("#form-order").bootstrapValidator().on("success.form.bv", function(e) {
					e.preventDefault();
					var $form = $(e.target);
					var bv = $form.data('bootstrapValidator');
					$.post($form.attr('action'), $form.serialize(), function(result) {
						if (result.success) {
							$.alert({
								title : false,
								content : "保存成功",
								buttons : {
									ok : {
										text : "返回列表",
										action : function() {
											location.href = "#/page/order";
										}
									}
								}
							});
						} else {
							$.alert({
								title : false,
								content : result.msg
							});
							$form.bootstrapValidator('disableSubmitButtons', false);
						}
					}, "json");
				});
			});
		});
	</script>
</body>
</html>

